@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --header-height: 3.5rem;

    /* colors */
    --hue: 35;
    --first-color: hsl(var(--hue), 100%, 75%);
    --first-color-alt: hsl(var(--hue), 80%, 56%);
    --first-color-alt-2: hsl(var(--hue), 60%, 56%);
    --first-color-light: hsl(var(--hue), 60%, 74%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(240, 100%, 100%);
    --text-color-light: hsl(240, 8%, 50%);
    --body-color: hsl(31, 100%, 92%);
    --container-color: hsl(0, 0%, 100%);

    /* Font */
    --body-font: "Barlow", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font Weight */
    --font-regular: 400;
    --font-semi-medium: 600;
    --font-medium: 700;
    --font-semi-bold: 900;

    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 540px) {
    :root {
        --biggest-font-size: 2.5rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
        --detail-font-size: 0.6rem;
    }
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.7rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

body {
    background-color: var(--body-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
}

button {
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ==== Reusable CSS Classes ==== */
.container {
    max-width: 100%;
    margin-inline: 2rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    /* min-height: 100vh; */
    padding-block: 5rem 1rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    color: var(--container-color);
    margin-bottom: 3rem;
}

.main {
    overflow: hidden;
}

/* Header */
.header {
    position: fixed;
    background: linear-gradient(180deg,
            var(--title-color),
            60%,
            hsla(35, 0%, 0%, 0) 100%);
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
}

.nav_logo {
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    color: var(--container-color);
    align-self: flex-start;
}

.nav_logo span {
    color: var(--first-color);
}

.nav_list {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 0.5rem;
}

.nav_link {
    font-family: var(--body-font);
    color: var(--container-color);
    font-weight: var(--font-semi-medium);
    transition: color 0.4s;
}

.nav_link:hover {
    color: var(--first-color);
}

/* Home */
.home {
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/bg2.jfif");
    background-size: contain;
    background-repeat: no-repeat;
}

.home_container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: .5rem;
    justify-self: center;
}
.home_data {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: .5rem;
}
.home_motto {
    display: flex;
    font-family: var(--body-font);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
    letter-spacing: 2px;
    color: var(--container-color);
    text-align: center;
}

.home_subtitle {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--normal-font-size);
    color: var(--text-color);
    /* text-align: center; */
}

.home_button {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.bookingBtn {
    position: relative;
    padding: 0.5rem;
    background-color: var(--first-color);
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.bookingBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transform: translateX(-100%);
    transition: transform .4s ease-out, color .4s;
    z-index: -1;
}

.bookingBtn:hover {
    color: white;
}

.bookingBtn:hover::before {
    transform: translateX(0);
}

.browseService {
    padding: 0.5rem;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    border: 2px;
    border-style: solid;
    transition:
        border-style 0.4s,
        transform 0.4s;
}

.browseService:hover {
    border-style: dashed;
    transform: scale(1.1);
}

.information {
    width: 100%;
    height: auto;
    background-color: var(--container-color);
}

.information_card {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    width: 100%;
}

.card_item {
    width: 200px;
}

.card_icon {
    justify-self: center;
    font-size: 2rem;
}

.information_title {
    padding: 0.4rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--font-regular);
    letter-spacing: 1px;
}

.information_line {
    background-color: var(--first-color);
    justify-self: center;
    width: 50px;
    height: 3px;
}

.information_detail {
    padding: 0.5rem;
    justify-self: center;
    text-align: center;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-medium);
}

/* About */
.about {
    margin-top: 5rem;
}

/* Breakpoint */
@media screen and (min-width: 320px) {
    .section {
        /* min-height: 100dvh; */
    }
    .container {
        margin-inline: 1rem;
    }

    .home_container {
        transform: translateY(100px);
    }

    .home {
        max-width: 100%;
        background-size: cover;
        background-position-x: center;
    }

    .home_motto {
        font-size: var(--h3-font-size);
    }

    .home_subtitle {
        font-size: var(--small-font-size);
    }

    .home_button button {
        font-size: 0.5rem;
        transition: transform 0.4s ease-out;
    }

    .home_button button:hover {
        transform: scale(1.1);
    }

    .browseService {
        font-size: 0.5rem;
        transition: transform 0.4s;
    }

    .browseService:hover {
        transform: scale(1.1);
    }

    .card_icon {
        font-size: 1rem;
    }

    .information_detail {
        font-size: 0.5rem;
        font-weight: var(--font-semi-medium);
    }
}

@media screen and (min-width: 540px) {
    .home_container {
        width: 90%;
        margin-inline: 1.5rem;
        gap: 0.5rem;
        transform: translateY(100px);
    }

    .home {
        width: 100%;
    }
    .home_motto {
        font-size: var(--bigger-font-size);
    }
}

@media screen and (min-width: 768px) {
    .home {
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .home_container {
        width: 90%;
        gap: .5rem;
        transform: translateY(100px);
    }
    .home_motto {
        font-size: var(--biggest-font-size);
    }
    .card_item {
        width: 150px;
    }
    .card_icon {
        font-size: 1.5rem;
    }
    .information_detail {
        font-size: var(--detail-font-size);
    }
}

@media screen and (min-width: 1150px) {
    .header {
        width: 100%;
        background: linear-gradient(180deg,
            var(--title-color),
            50%,
            hsla(0, 0%, 0%, 0) 100%);
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav_list {
        display: flex;
        margin-inline: 1.5rem;
        flex-direction: row;
        column-gap: 2rem;
    }
    .home {
        width: 100%;
        height: 650px;
        background-size: cover;
        background-position: center;

    }
    .home_container {
        width: 90%;
        margin-top: 8rem;
        /* transform: translateY(250px); */
    }
    .home_motto {
        font-size: var(--biggest-font-size);
    }
    .home_subtitle {
        font-size: var(--h2-font-size);
    }
    .home_button button {
        font-size: var(--small-font-size);
        padding: 1rem;
    }
    .browseService {
        font-size: var(--small-font-size);
        padding: 1rem;
    }
    .card_item {
        width: 200px;
    }
    .card_icon {
        font-size: var(--h1-font-size);
    }
    .information_title {
        font-size: var(--h3-font-size);
    }
    .information_line {
        width: 70px;
        height: 4px;
    }
    .information_detail {
        font-size: var(--small-font-size);
    }
}